/*
크기
max-width, min-width,
max-height, min-height
*/

#parent {
  width: 150px;
  height: 300px;

  background-color: lightcoral;
}

#child {
  width: 50%;
  min-width: 100px;
  height: 100px;

  background-color: lightgreen;
}
