/*
background
*/

.box {
  height: 400px;

  background-image: url("https://interactive-examples.mdn.mozilla.net/media/examples/hand.jpg");
  background-repeat: no-repeat;
  background-color: cadetblue;

  /* contain / cover */
  background-size: auto;
}
