html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(227, 240, 251);
}

.container {
  background-color: rgb(77, 146, 207);
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}

nav {
  background-color: tomato;
  color: white;
  /* width: 120px; */
  flex-basis: 120px;
}

.box-container {
  background-color: aquamarine;
  /* width: 100%; */
  flex-grow: 1;

  display: flex;
}

.box {
  border: 3px solid orangered;
}

.box:nth-child(2n) {
  border-color: rgb(39, 39, 129);
}
