/*
  상속 제어하기 - initial, inherit, unset
*/

div {
  border: 1px solid silver;
  margin: 2px;
}

.child1 {
  color: red;
}

.parent1,
.parent2 {
  color: blue;
}

/* 이 경우에는 "color: blue;"는 부모로부터 상속받기 때문에 유지가 되는 거고,
나머지 border, solid, margin은 부모로부터 상속받지 않기 때문에 기본값으로 만든 것 */
.parent2 .child1 {
  all: unset;
}

/* unset

1. 부모로부터 상속받은 값이 있을 때 : inherit (무조건 상속받음)
2. 부모로부터 상속받을 값이 없을 때 : initial (초기값으로 만들어줌)

*/
