/* 
Attribute Selector
  (속성 선택자)
*/

/* 1. [attr] */
a[target] {
  color: hotpink;
}

/* 2. [attr=value] */
input[type="submit"] {
  background-color: green;
}

/* 3. [attr^=value] */
a[href^="http://"]
{
  color: red;
}

/* 4. [attr$=value] */

/* 5. [attr*=value] */
