/*
Flexbox

container - justify-content
*/

.container {
  border: 5px dashed orange;
  display: flex;
  justify-content: center;
}

.item {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: paleturquoise;
  border: 3px solid blue;
  font-size: 30px;
}
